html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  width: 450px;
  height: 450px;
  margin: 0 auto;
  object-fit: cover;
}

button {
  display: block;
  margin: 10px auto;
  padding: 20px 40px;
  font-size: 28px;
  font-weight: 600;
  background-color: #00539f;
  color: azure;
}
